div#navbarNavDropdown {background: #6AB802;}

div#navbarNavDropdown li a {
    color: #fff;
}
button.navbar-toggler {
    background: #6AB802;
}

.container-fluid {
    background: #6AB802;
    color: #fff;
}
.search_bar {
    width: 350px;
}

button#button-addon2 {
    background: #6ab802;
    color: #fff;
    font-size: 15px;
}

button.btn-outline-warning.btn-sm {
    background: transparent;
    border: 1px solid #6ab802;
    font-weight:bold ;
}


.login img {
    width: 28px;
    margin-right: 20px;
}

.login button {
    width: 93px;
    font-size: 15px;
    height: 31px;
    line-height: 1px;
    font-weight: bold;
}

.search_bar {
    height: 51px;
}

.input-group.mb-3 {
    /* height: 6px; */
    padding: 0px;
}
.header_top.d-flex.justify-content-between.container .logo img {
    width: 30px;
}

.header_top.d-flex.justify-content-between.container span.air {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px;
    color: #fa9407;
}

.header_top.d-flex.justify-content-between.container span.time {
    font-size: 35px;
    font-weight: bold;
    color: #6ab802;
    text-transform: uppercase;
}